#container {
    background-color: #BFB1C4;
    height: 25%;
    width: 100%;
  }
  .navBar {
    display: inline-block;
    background-color: #BFB1C4;
    vertical-align: top;
    padding: 15px;
    color: white;
    font-family: mulish;
  }
  
